<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.virtualracing.gmscan"
    android:versionCode="11"
    android:versionName="1.6">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/icon2"
        android:label="@string/app_name">
        <service
            android:name=".aquisitionService"
            android:enabled="false"
            android:exported="true"></service>

        <activity
            android:name=".PluginActivity"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:finishOnTaskLaunch="false"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="org.prowl.torque.ACTIVITY_PLUGIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>